.endChat {
  padding-bottom: 100px;
}

.newForm {
  width: 60%; /* Adjusted for a more centered look */
  position: absolute;
  bottom: 20px; /* Provide some spacing from the bottom */
  left: 50%;
  transform: translateX(-50%);
  background-color: #2c2937;
  border-radius: 30px; /* Smoother corner radius */
  display: flex;
  align-items: center;
  gap: 15px; /* Slightly reduce gap */
  padding: 10px 20px; /* Added padding for cleaner look */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Adds depth */
}

.newFormButton,
.newFormLabel {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #605e68;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newFormButton:hover,
.newFormLabel:hover {
  background-color: #504d57; /* Slightly darker on hover */
}

.newFormButtonImage {
  width: 20px; /* Larger icon for better visibility */
  height: 20px;
}

.newFormInput {
  flex: 1;
  padding: 10px 15px; /* Adjust padding for cleaner look */
  border: none;
  outline: none;
  background-color: transparent;
  color: #cecece;
  font-family: inherit;
  font-size: 16px; /* Slightly larger text */
}

.newFormInput::placeholder {
  color: #a5a5a5;
}

.attachmentImage {
  width: 380px;
  height: 380px;
  object-fit: contain;
}

.attachmentImage {
  width: 300px;
  height: 300px;
  object-fit: contain;
}